infra/pgdata/
.DS_Store
logs/
# Виртуальное окружение
venv/
env/
.venv/

# Кэш Python
__pycache__/
*.pyc
.pytest_cache/

# Файлы IDE
.vscode/
.idea/

# Секреты и конфиги
.env
config/local.py

# Артефакты сборки
dist/
build/
*.egg-info/